.Message {
    line-height: 1.5em;
    color: white;
    text-align: right;
    padding: 5px;
    // background: white;
    // opacity: .5;
  }
  
.Message.log {
    color: #bbb;
}

.Message .author {
    font-weight: bold;
    color: rgb(202, 202, 202);
    margin: 0 5px 0 0;
}

.Message.me .author {
    color: green;
}
  