.MessageForm {
    display: flex;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    height: 28px;
    margin-right: 8px;
    // background: #ccc;
  }
  
.MessageForm .input-container {
  flex: 1;
  margin: 1px;
}

.MessageForm .button-container {
  flex: 0 0 6em;
  margin: 1px 1px 1px 0;
}

.MessageForm input, .MessageForm button {
  background: none;
  border: none;
  box-sizing: border-box;
  font-size: inherit;
  height: 100%;
  outline: none;
  width: 100%;
  color: #fff;
}

.MessageForm input {
  padding: 0 0 0 4px;
}
  