.dropzone-wrapper {
    height: 200px;
    border-width: 7px;
    border-color: rgb(102, 102, 102);
    position: relative;
    width: 100%;
    border-style: dashed;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}