// .video-container{
//     width: 100%;
    
// }
.video-card{
    height: 100px;
    width: 180px;
    display: flex;
    // margin-left: 60px;
    justify-content: space-around;
    align-items: center;
    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 50px;
    border: none;
    background: none;
    background-color: white;
}