.admin-container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.view {
    margin-top: 50px;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
}








// .root {
//     background-color: black !important
// }

// // .MuiStepper-root-5 {
// //     height: 70vh;
// // }



// .MuiPaper-root-9 {
//     background-color: #485461;
//     background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);  
// }

// .MuiStepIcon-root-52.MuiStepIcon-active-54 {
//     color: #58B948 !important;
// }

// .MuiStepIcon-root-52.MuiStepIcon-completed-55 {
//     color: #58B948 !important;
// }

// .MuiButton-containedPrimary-179 {
//     background-color: #58B948 !important;
// }

// .MuiOutlinedInput-notchedOutline-142 {
//     border-color: white !important
// }

// .MuiInputBase-marginDense-155 {
//     border-color: white !important
// }

// .MuiStepLabel-label-44.MuiStepLabel-active-45 {
//     color:white !important;
// }

// .MuiTypography-body1-75{
//     color:white !important;
// }

// .MuiPrivateNotchedOutline-legend-166 {
//     color:white !important;
// }

// .MuiInputInput-focused-135 {
//     color:white !important;
// }

// .view{
//     width:80vw;
//     height: 100vh;
//     background-color: #485461;
//     background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
// }