@import './../variables';

.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
  margin-top: 50px;
}
.header {
    background-color: $light;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  
  .header-left {
    text-align: left;
  }
  
  .header-right {
    text-align: right;
  }
  
  .player-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }