@import './../variables';

.stream-container {
    height: 500px;
    display: flex;
    align-items: center;
}

.preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // position: relative;
    // padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}


