.checkout-modal-wrapper {
    width: 85%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px grey;
    flex-direction: column;
    z-index: 1;
}